* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
}


body {
    height: 100vh;
    background: radial-gradient(circle at center, #000000 0%, #050505 100%);
    color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}


h1 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 2rem;
    color: #ff1a1a;
    letter-spacing: 2px;
    text-transform: uppercase;
    
}


form#login,
form#register {
    background-color: #0d0d0d;
    padding: 40px;
    border-radius: 6px;
    border: 1px solid #1a1a1a;
    width: 320px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.15);
}


form#login label,
form#register label {
    margin-bottom: 6px;
    font-weight: bold;
    color: #ff1a1a;
}


form#login input[type="text"],
form#login input[type="password"],
form#register input[type="text"],
form#register input[type="password"] {
    padding: 10px;
    margin-bottom: 18px;
    background: #111;
    border: 1px solid #222;
    border-radius: 4px;
    font-size: 1rem;
    color: #e0e0e0;
    outline: none;
    transition: border 0.2s;
}

form#login input:focus,
form#register input:focus {
    border-color: #ff1a1a;
}


form#login button,
form#register button {
    padding: 10px;
    background-color: #ff1a1a;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 5px;
    transition: background-color 0.2s ease;
}

form#login button:hover,
form#register button:hover {
    background-color: #cc0000;
}


section.index-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

section.index-container h1 {
    font-size: 3rem;
    font-weight: 800;
    color: #ff1a1a;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

section.index-container p {
    color: #e0e0e0;
    margin-top: 10px;
    font-size: 1rem;
}

section.index-container form {
    margin-top: 20px;
}

section.index-container button {
    padding: 10px 20px;
    background-color: #ff1a1a;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.2s ease;
}

section.index-container button:hover {
    background-color: #cc0000;
}

